<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Adminpanel </title>
    <!-- Boxicons CDN Link -->
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/jquery-ui.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link href="{% static 'charts/Chart.css' %}" rel="stylesheet">
    <link href="{% static 'charts/Chart.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="pagestyle" href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

<style>
.box{
height: 5px;
width: 100%;
background: rgb(36,10,0);
background: linear-gradient(90deg, rgba(36,10,0,1) 0%, rgba(80,79,5,1) 15%, rgba(31,56,30,1) 35%, rgba(9,89,121,1) 56%, rgba(94,7,156,1) 78%, rgba(255,0,254,1) 100%);
}

@media (min-width: 992px){
.modal-lg, .modal-xl {
max-width: 80%;           
}}

@media (max-width: 1119px){
.dashboard-section, .nav-left.nav-left-inner~.dashboard-section {
width: 100%;
left: 0;
}} 

.admin-section{
    padding: 10px;
}
.admin-section .card{
    overflow: auto;
    min-width: 400px;
    margin-top: 5%;
}

.admin-section .section{
min-width: max-content;
}

#cuser th {
      text-align: center;
      font-weight: bold;
      color: #000;
    }

    #cuser td {
      text-align: center;
    }
    /* .mt-100{margin-top: 100px} */
</style>
</head>

<body>
    <div class="menu-overlay"></div>
    <div class="min-height-300 bg-primary position-absolute w-100"></div>

    <section class="dashboard-section">   
       
        <div class="admin-section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">Adminpanel</div>
                        <div class="card-body" style="margin-top: -95px;">
                            <form action="{% url 'saveuser' %}" id="saveuserform" method="post" enctype="multipart/form-data">  
                                {% csrf_token %}
                                <div class="col-md-12 col-lg-12">
                                    <div class="alert text-center" id="msg" role="alert"></div>
                                </div>
                                <div class="">                                            
                                    <div class="card-body row">
                                        <div class="col-lg-4">
                                            <label class="text-dark" for="username">Username</label>
                                            <input class="form-control" id="username" name="username"  type="text" placeholder="enter your username" required>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="text-dark" for="firstname">Firstname</label>
                                            <input class="form-control" id="firstname" name="firstname" type="text" placeholder="enter your username" required>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="text-dark" for="lastname">Lastname</label>
                                            <input class="form-control" id="lastname" name="lastname" type="text" placeholder="enter your password" required>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="text-dark" for="password">Password</label>
                                            <input class="form-control" id="password" name="password" type="password" placeholder="enter your password" required>
                                        </div>                                      
                                        <div class="col-lg-4 ">
                                            <label class="text-dark" for="modules">Modules Access</label>
                                            <select class="form-control" id="modules" name="modules" type="text" multiple aria-label="size 3 select example">                                        
                                                <option value="1">ocr</option>       
                                                <option value="2">objectcount</option>
                                                <option value="3">massupdate</option>
                                                <option value="4">commodity</option>
                                                <option value="5">stock_predictions</option>                                                              
                                            </select>                                                                     
                                        </div> 
                                                                      
                                    </div>
                                    <div class=" d-grid gap-2 col-3 mx-auto text-center">
                                        <input type="number" class="form-control" id="userid" name="userid" hidden>
                                        <button type="submit" class="btn btn-primary" id="add" style="margin-bottom: 5px;">Create</button>
                                    </div>
                                </div>                                    
                            </form>
                            <div id="cuser" class="mt-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'charts/Chart.bundle.js' %}"></script>
<script src="{% static 'charts/Chart.bundle.min.js' %}"></script>
<script src="{% static 'charts/Chart.js' %}"></script>
<script src="{% static 'charts/Chart.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- apps -->
<!-- apps -->
<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- This Page JS -->
<script src="{% static 'assets/extra-libs/prism/prism.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        </script>
        
        <script>
        $(document).ready(function() {
            $('.tabs').click(function(){
                var href = $(this).attr('data-target');
                $('.tab-pane').removeClass('fade show active')
                $('.tab-pane').addClass('hide')
                $(href).removeClass('hide')
                $(href).addClass('fade show active')
            })
            get_user_table()
        })
    
        $('#saveuserform').on('submit', function(e){
            e.preventDefault();
            form = $(e.target);
            btnval = $('#add').html();
            if(btnval!='Update'){
                url = '/saveuser/'
            }else{
                url = '/useredit/'
            }
            $.post(url, form.serialize(),
                function(res){
                    if(res=='Successful'){
                        $('#msg').removeClass('alert-danger');
                        $('#msg').addClass('alert-success');
                        $('#msg').html(res);
                        $('#msg').fadeOut(2000);
                    }else{
                        $('#msg').removeClass('alert-success');
                        $('#msg').addClass('alert-danger');
                        $('#msg').html(res);
                        $('#msg').fadeOut(2000);
                    };
                    // company_id = $('select[name="company"]').val();
                    // get_user_table(company_id);
                    if(btnval=='Update'){
                        $('#add').html('Submit');
                    }
                }
            )
            $('#saveuserform')[0].reset();
    
        });
    
        function get_user_table(id){
            // alert(id)
            $.post('/get_user/', {csrfmiddlewaretoken: '{{ csrf_token }}', 'ID': id},
                function(res){
                    $('#cuser').html(res)
                }
            )
        }
    
        function delete_row(id){
            $.post('/delete_user/'+id, {csrfmiddlewaretoken: '{{ csrf_token }}'},
                function(res){
                    $('#'+id).closest('tr').fadeOut();
                }
            )
        }
    
        function edit_user(id){
            $('#add').html('Update');
            $('#userid').val(id);
            $('#'+id).closest('tr').find('td').each(function(index, value){
                if(index==0){
                    $('input[name="username"]').val($(this).text());
                }else if(index==1){
                    $('input[name="firstname"]').val($(this).text());
                }else if(index==2){
                    $('input[name="lastname"]').val($(this).text());
                }
                else if(index==3){
                    $('input[name="modules"]').val($(this).text());
                }
            });
        }
    
        $("#subject").change(function(){
            get_user_table(this.value)
        });


        $(document).ready(function(){
    
    var multipleCancelButton = new Choices('#modules', {
       removeItemButton: true,
       maxItemCount:5,
       searchResultLimit:5,
       renderChoiceLimit:5
     }); 
    
    
});
     
$(document).ready(function(){
    
    var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
       removeItemButton: true,
       maxItemCount:5,
       searchResultLimit:5,
       renderChoiceLimit:5
     }); 
    
    
});

    </script>

</script>
</html>